/* raleway-700 - latin_cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway-v28-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v28-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v28-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/raleway-v28-latin_cyrillic-700.woff") format("woff"), url("../fonts/raleway-v28-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/raleway-v28-latin_cyrillic-700.svg#Raleway") format("svg");
  /* Legacy iOS */
}
/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-regular.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v30-latin_cyrillic-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-500.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-500.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-700.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-700.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v30-latin_cyrillic-900.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-900.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-900.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-900.svg#Roboto") format("svg");
  /* Legacy iOS */
}
:root {
  /* Fonts */
  --main-font: roboto, sans-serif;
  --secondary-font: raleway, sans-serif;
  /* Text colors */
  --main-txt-cl: #212121;
  --light-txt-cl: #ffffff;
  --dark-txt-cl: #000000;
  --accent-txt-cl: #2196f3;
  --grey-txt-cl: #757575;
  --white-txt-cl-60: rgba(255, 255, 255, 0.6);
  /* Background color */
  --light-bg-cl: #ffffff;
  --dark-bg-cl: #2f303a;
  --hero-bg-cl: rgba(47, 48, 58, 0.4);
  --accent-bg-cl: #2196f3;
  --gray-bg-cl: #f5f4fa;
  --footer-soc-bg: rgba(255, 255, 255, 0.1);
  --overlay-bg: rgba(33, 150, 243, 0.9);
  --work-subtitle-bg: rgba(47, 48, 58, 0.8);
  --backdrop-bg: rgba(0, 0, 0, 0.2);
  /* Others */
  --btn-radius: 4px;
  --btn-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --header-brd: #ececec;
  --filter-brd: #eeeeee;
  --icon-cl: #afb1b8;
  --items: 3;
  --gap: 30px;
  --anim: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

/**
  |============================
  | Visualy-hidden
  |============================
*/
.register-form__checkbox, .section__title--hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/**
  |============================
  | Links
  |============================
*/
.footer__item, .clients__link, .card-set__link, .socials__link, .menu__link, .contacts__link, .nav__link {
  -webkit-transition: color var(--anim);
  transition: color var(--anim);
}
.footer__item:hover, .clients__link:hover, .card-set__link:hover, .socials__link:hover, .menu__link:hover, .contacts__link:hover, .nav__link:hover, .footer__item:focus, .clients__link:focus, .card-set__link:focus, .socials__link:focus, .menu__link:focus, .contacts__link:focus, .nav__link:focus {
  color: var(--accent-txt-cl);
}

/**
  |============================
  | FLEX mixin
  |============================
*/
/* Reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--main-font);
  color: var(--main-txt-cl);
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
}

.container {
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
.section--other-bg-color {
  background-color: var(--gray-bg-cl);
}
@media screen and (max-width: 1199px) {
  .section--hidden {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .section--no-top-padding {
    padding-top: 0;
  }
}

.section__title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.1785714286;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .section__title {
    font-size: 36px;
    line-height: 1.1666666667;
    margin-bottom: 50px;
  }
}

.logo {
  text-decoration: none;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  color: var(--accent-txt-cl);
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.1923076923;
  }
}

.logo__dark {
  color: var(--dark-txt-cl);
}

.logo__light {
  color: var(--light-txt-cl);
}

.nav {
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .nav {
    display: none;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.nav__link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav__link--active {
  color: var(--accent-txt-cl);
}
.nav__link--active::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  bottom: -1px;
  left: 0;
  background-color: var(--accent-bg-cl);
}

.contacts {
  color: var(--grey-txt-cl);
}
@media screen and (max-width: 767px) {
  .contacts {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .contacts {
    font-size: 12px;
    line-height: 1.1666666667;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
  }
}

@media screen and (max-width: 1199px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
@media screen and (min-width: 1200px) {
  .contacts__link {
    padding: 32px 0;
  }
}

.contacts__icon {
  fill: currentColor;
}

.menu-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: fill var(--anim);
  transition: fill var(--anim);
}
.menu-btn:hover, .menu-btn:focus {
  fill: var(--accent-txt-cl);
}
@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 40px 48px;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  background-color: #fff;
  -webkit-transform: translateX(100%) scale(0.7);
          transform: translateX(100%) scale(0.7);
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
}
@media screen and (min-width: 768px) {
  .menu {
    display: none;
  }
}
.menu.is-open {
  -webkit-transform: translateX(0) scale(1);
          transform: translateX(0) scale(1);
}

.menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
}

.menu__nav {
  margin-bottom: auto;
}

.menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu__link--active {
  color: var(--accent-txt-cl);
}
.menu__link--tel {
  font-size: 34px;
  line-height: 1.1764705882;
  color: var(--accent-txt-cl);
}
@media screen and (max-width: 394px) {
  .menu__link--tel {
    font-size: 24px;
    line-height: 1.1666666667;
  }
}
.menu__link--mail {
  font-size: 24px;
  line-height: 1.1666666667;
  color: var(--grey-txt-cl);
}
.menu__link--socials {
  position: relative;
  font-size: 18px;
  line-height: 1.2222222222;
  color: var(--accent-txt-cl);
}
.menu__link--socials-vl::after {
  position: absolute;
  content: "";
  display: block;
  width: 22px;
  height: 1px;
  bottom: 11px;
  right: -21px;
  rotate: 90deg;
  background-color: rgba(33, 33, 33, 0.2);
}

.menu__contacts {
  margin-bottom: 64px;
}

.menu__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.btn {
  width: 200px;
  min-height: 50px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--light-txt-cl);
  background-color: var(--accent-bg-cl);
  cursor: pointer;
  border: transparent;
  border-radius: var(--btn-radius);
  -webkit-box-shadow: var(--btn-shadow);
          box-shadow: var(--btn-shadow);
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--icon-cl);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: color var(--anim), background-color var(--anim);
  transition: color var(--anim), background-color var(--anim);
}
.socials__link:hover, .socials__link:focus {
  background-color: var(--accent-bg-cl);
  color: var(--light-txt-cl);
}

.socials__link--other-colors {
  background-color: var(--footer-soc-bg);
  color: var(--light-txt-cl);
}

.socials__icon {
  fill: currentColor;
}

.register-form {
  padding: 40px;
}

.register-form__title {
  display: block;
  margin-bottom: 12px;
  text-align: center;
  font-size: 20px;
  line-height: 1.5;
}
@media screen and (max-width: 330px) {
  .register-form__title {
    font-size: 18px;
    line-height: 1.5;
  }
}
@media screen and (min-width: 1200px) {
  .register-form__title {
    line-height: 1.15;
  }
}

.register-form__group {
  margin-bottom: 20px;
}

.register-form__field {
  display: block;
  margin-bottom: 10px;
}
.register-form__field:last-child {
  margin-bottom: 0;
}

.register-form__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--grey-txt-cl);
}

.register-form__input {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 40px;
  padding: 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: var(--btn-radius);
  -webkit-transition: border-color var(--anim);
  transition: border-color var(--anim);
}
.register-form__input:focus-within > .register-form__icon, .register-form__input:focus-within {
  fill: var(--accent-txt-cl);
  border-color: var(--accent-bg-cl);
}

.register-form__text {
  width: 100%;
  height: auto;
  outline: none;
  padding: 0;
  border: none;
}

.register-form__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill var(--anim);
  transition: fill var(--anim);
}

.register-form__comment {
  display: block;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  resize: none;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: var(--btn-radius);
}
@media screen and (min-width: 1200px) {
  .register-form__comment {
    font-size: 12px;
    line-height: 1.1666666667;
  }
}

.register-form__checkbox:checked + .register-form__checkbox-icons .register-form__icon-checked {
  opacity: 1;
}
.register-form__checkbox:checked + .register-form__checkbox-icons .register-form__icon-unchecked {
  opacity: 0;
}
.register-form__checkbox:focus + .register-form__checkbox-icons {
  outline: 2px solid rgb(56, 87, 107);
  outline-offset: 1px;
  border-radius: 2px;
}

.register-form__agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
  margin-bottom: 30px;
}

.register-form__icon-checked {
  opacity: 0;
  fill: var(--accent-txt-cl);
  -webkit-transition: opacity var(--anim);
  transition: opacity var(--anim);
}

.register-form__icon-unchecked {
  -webkit-transition: opacity var(--anim);
  transition: opacity var(--anim);
}

.register-form__desc {
  font-size: 12px;
  line-height: 1.1666666667;
  color: var(--grey-txt-cl);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media screen and (min-width: 1200px) {
  .register-form__desc {
    font-size: 14px;
    line-height: 1.7142857143;
  }
}

.register-form__link {
  color: var(--accent-txt-cl);
}

.register-form__btn {
  margin: 0 auto;
  display: block;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  padding: 0 15px;
  background-color: var(--backdrop-bg);
  opacity: 1;
  -webkit-transition: opacity 1200ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 1200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop__is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop__is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0) rotateX(0deg);
          transform: translate(-50%, -50%) scale(0) rotateX(0deg);
  visibility: visible;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1) rotateX(360deg);
          transform: translate(-50%, -50%) scale(1) rotateX(360deg);
  width: 450px;
  height: 609px;
  background-color: var(--light-bg-cl);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: var(--btn-radius);
  -webkit-transition: -webkit-transform 1200ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 1200ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 1200ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 1200ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 1200ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 440px) {
  .modal {
    width: 92%;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  background-color: var(--light-bg-cl);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-transition: fill var(--anim);
  transition: fill var(--anim);
}
.modal__btn:hover, .modal__btn:focus {
  fill: var(--accent-txt-cl);
}

@media screen and (min-width: 768px) {
  .card-set {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.card-set__item {
  width: 100%;
}
@media screen and (max-width: 767px) {
  .card-set__item:not(:last-child) {
    margin-bottom: var(--gap);
  }
}
@media screen and (min-width: 768px) {
  .card-set__item {
    --items: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: calc((100% - var(--gap) * (var(--items) - 1)) / var(--items));
        flex-basis: calc((100% - var(--gap) * (var(--items) - 1)) / var(--items));
  }
}
@media screen and (min-width: 1200px) {
  .card-set__item {
    --items: 3;
  }
}

.card-set__link {
  display: block;
  -webkit-transition: -webkit-box-shadow var(--anim);
  transition: -webkit-box-shadow var(--anim);
  transition: box-shadow var(--anim);
  transition: box-shadow var(--anim), -webkit-box-shadow var(--anim);
}
@media screen and (min-width: 768px) {
  .card-set__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.card-set__link:hover, .card-set__link:focus {
  color: var(--main-txt-cl);
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.card-set__link:hover .card-set__overlay, .card-set__link:focus .card-set__overlay {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.card-set__wrap {
  padding: 20px 24px;
  border: 1px solid var(--filter-brd);
}
@media screen and (min-width: 768px) {
  .card-set__wrap {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.card-set__title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card-set__desc {
  font-size: 16px;
  line-height: 1.875;
  color: var(--grey-txt-cl);
}

/* Transition overlay */
.card-set__thumb {
  position: relative;
  overflow: hidden;
}

.card-set__overlay {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  width: 100%;
  height: 100%;
  padding: 77px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--overlay-bg);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  -webkit-transition: -webkit-transform var(--anim);
  transition: -webkit-transform var(--anim);
  transition: transform var(--anim);
  transition: transform var(--anim), -webkit-transform var(--anim);
}

.card-set__overlay-desc {
  font-size: 18px;
  line-height: 1.5555555556;
  color: var(--light-txt-cl);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 8px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .filter {
    margin-bottom: 50px;
  }
}

.filter__btn {
  padding: 6px 25px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  color: inherit;
  background-color: var(--gray-bg-cl);
  border: 1px solid transparent;
  border-radius: var(--btn-radius);
  cursor: pointer;
  -webkit-transition: color var(--anim), background-color var(--anim), -webkit-box-shadow var(--anim);
  transition: color var(--anim), background-color var(--anim), -webkit-box-shadow var(--anim);
  transition: color var(--anim), background-color var(--anim), box-shadow var(--anim);
  transition: color var(--anim), background-color var(--anim), box-shadow var(--anim), -webkit-box-shadow var(--anim);
}
.filter__btn:hover, .filter__btn:focus {
  color: var(--light-txt-cl);
  background-color: var(--accent-bg-cl);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  border-bottom: 1px solid var(--header-brd);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 88px;
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
  }
}

.hero {
  max-width: 767px;
  height: 400px;
  margin: 0 auto;
  padding: 118px 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--hero-bg-cl)), to(var(--hero-bg-cl))), url(../images/hero/bg-hero-mob_@1x.jpg);
  background-image: linear-gradient(var(--hero-bg-cl), var(--hero-bg-cl)), url(../images/hero/bg-hero-mob_@1x.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--dark-bg-cl);
  text-align: center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--hero-bg-cl)), to(var(--hero-bg-cl))), url(../images/hero/bg-hero-mob_@2x.jpg);
    background-image: linear-gradient(var(--hero-bg-cl), var(--hero-bg-cl)), url(../images/hero/bg-hero-mob_@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 1199px;
    padding: 118px 0px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--hero-bg-cl)), to(var(--hero-bg-cl))), url(../images/hero/bg-hero-tab_@1x.jpg);
    background-image: linear-gradient(var(--hero-bg-cl), var(--hero-bg-cl)), url(../images/hero/bg-hero-tab_@1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--hero-bg-cl)), to(var(--hero-bg-cl))), url(../images/hero/bg-hero-tab_@2x.jpg);
    background-image: linear-gradient(var(--hero-bg-cl), var(--hero-bg-cl)), url(../images/hero/bg-hero-tab_@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    padding: 200px 0px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--hero-bg-cl)), to(var(--hero-bg-cl))), url(../images/hero/bg-hero-desc_@1x.jpg);
    background-image: linear-gradient(var(--hero-bg-cl), var(--hero-bg-cl)), url(../images/hero/bg-hero-desc_@1x.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--hero-bg-cl)), to(var(--hero-bg-cl))), url(../images/hero/bg-hero-desc_@2x.jpg);
    background-image: linear-gradient(var(--hero-bg-cl), var(--hero-bg-cl)), url(../images/hero/bg-hero-desc_@2x.jpg);
  }
}

.hero__title {
  margin: 0 auto 30px auto;
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--light-txt-cl);
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.3636363636;
  }
}

@media screen and (min-width: 768px) {
  .feature {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.features__item {
  width: 100%;
}
@media screen and (max-width: 767px) {
  .features__item:not(:last-child) {
    margin-bottom: var(--gap);
  }
}
@media screen and (min-width: 768px) {
  .features__item {
    --items: 2;
    -ms-flex-preferred-size: calc((100% - var(--gap) * (var(--items) - 1)) / var(--items));
        flex-basis: calc((100% - var(--gap) * (var(--items) - 1)) / var(--items));
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    --items: 4;
  }
}

.features__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: var(--gap);
  width: 100%;
  height: 120px;
  background-color: var(--gray-bg-cl);
}

.features__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .features__title {
    text-align: center;
  }
}

.feature__description {
  color: var(--grey-txt-cl);
}

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.work__thumb {
  position: relative;
}

.work__title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: var(--light-txt-cl);
  background: var(--work-subtitle-bg);
}

@media screen and (min-width: 768px) {
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.team__item {
  width: 100%;
  background-color: var(--light-bg-cl);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: 270px;
  }
}

.team__wrap {
  padding-top: 30px;
  padding-bottom: 24px;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .team__wrap {
    padding-bottom: 30px;
  }
}

.team__title {
  margin-bottom: 10px;
  font-weight: 500;
}

.team__desc {
  margin-bottom: 16px;
  color: var(--grey-txt-cl);
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.clients__item {
  --items: 2;
  -ms-flex-preferred-size: calc((100% - var(--gap) * (var(--items) - 1)) / var(--items));
      flex-basis: calc((100% - var(--gap) * (var(--items) - 1)) / var(--items));
}
@media screen and (min-width: 768px) {
  .clients__item {
    --items: 3;
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    --items: 6;
  }
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--icon-cl);
  border: 1px solid var(--icon-cl);
  border-radius: 4px;
  width: 100%;
  height: 92px;
  -webkit-transition: color var(--anim), border-color var(--anim);
  transition: color var(--anim), border-color var(--anim);
  fill: currentColor;
}
.clients__link:hover, .clients__link:focus {
  border-color: var(--accent-bg-cl);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  background-color: var(--dark-bg-cl);
  color: var(--light-txt-cl);
}
@media screen and (min-width: 1200px) {
  .footer {
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 1199px) {
  .footer__wrap {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__wrap {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .footer__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-right: 93px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

@media screen and (max-width: 767px) {
  .footer__address {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__address {
    margin-right: 70px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.footer__desc {
  font-style: normal;
  margin-top: 20px;
}

.footer__item:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .footer__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer__item--color {
  color: var(--white-txt-cl-60);
}

.footer__title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .footer__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    gap: 12px;
  }
}

.footer__input {
  display: block;
  margin: 20px auto;
  padding-left: 16px;
  background-color: inherit;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--light-txt-cl);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 480px) {
  .footer__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__input {
    width: 358px;
    margin-bottom: 0;
  }
}

.footer__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}
@media screen and (max-width: 1199px) {
  .footer__btn {
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer__btn {
    gap: 10px;
  }
}

.footer__icon {
  fill: currentColor;
}/*# sourceMappingURL=main.css.map */