.btn {
    width: 200px;
    min-height: 50px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    color: var(--light-txt-cl);
    background-color: var(--accent-bg-cl);
    cursor: pointer;
    border: transparent;
    border-radius: var(--btn-radius);
    box-shadow: var(--btn-shadow);
}