.contacts {
  color: var(--grey-txt-cl);

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: calc(14 / 12);
  }

  @media screen and (min-width: 1200px) {
    @include flex(flex, null, null, 50px, null);
  }
}

.contacts__item {
  @media screen and (max-width: 1199px) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.contacts__link {
  @extend %link;
  @include flex(flex, center, center, 10px, null);

  @media screen and (min-width: 1200px) {
    padding: 32px 0;
  }
}

.contacts__icon {
  fill: currentColor;
}
