.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-bg);
  opacity: 1;
  transition: opacity 1200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop__is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop__is-hidden .modal {
  transform: translate(-50%, -50%) scale(0) rotateX(0deg);
  visibility: visible;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1) rotateX(360deg);
  width: 450px;
  height: 609px;
  background-color: var(--light-bg-cl);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: var(--btn-radius);
  transition: transform 1200ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 1200px) {
    width: 528px;
    height: 581px;
  }
}

.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: var(--light-bg-cl);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: fill var(--anim);

  &:hover,
  &:focus {
    fill: var(--accent-txt-cl);
  }
}
