:root {
  /* Fonts */
  --main-font: roboto, sans-serif;
  --secondary-font: raleway, sans-serif;

  /* Text colors */
  --main-txt-cl: #212121;
  --light-txt-cl: #ffffff;
  --dark-txt-cl: #000000;
  --accent-txt-cl: #2196f3;
  --grey-txt-cl: #757575;
  --white-txt-cl-60: rgba(255, 255, 255, 0.6);

  /* Background color */
  --light-bg-cl: #ffffff;
  --dark-bg-cl: #2f303a;
  --hero-bg-cl: rgba(47, 48, 58, 0.4);

  --accent-bg-cl: #2196f3;
  --gray-bg-cl: #f5f4fa;
  --footer-soc-bg: rgba(255, 255, 255, 0.1);
  --overlay-bg: rgba(33, 150, 243, 0.9);
  --work-subtitle-bg: rgba(47, 48, 58, 0.8);
  --backdrop-bg: rgba(0, 0, 0, 0.2);

  /* Others */
  --btn-radius: 4px;
  --btn-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --header-brd: #ececec;
  --filter-brd: #eeeeee;
  --icon-cl: #afb1b8;
  --items: 3;
  --gap: 30px;
  --anim: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
